body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1065px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:162px;
}
#u165 {
  position:absolute;
  left:0px;
  top:-10px;
  width:156px;
  height:162px;
}
#u166 {
  position:absolute;
  left:2px;
  top:73px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:2px;
}
#u167 {
  position:absolute;
  left:0px;
  top:152px;
  width:156px;
  height:2px;
}
#u168 {
  position:absolute;
  left:2px;
  top:-7px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:162px;
}
#u169 {
  position:absolute;
  left:156px;
  top:-10px;
  width:8px;
  height:162px;
}
#u170 {
  position:absolute;
  left:2px;
  top:73px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:2px;
}
#u171 {
  position:absolute;
  left:156px;
  top:152px;
  width:8px;
  height:2px;
}
#u172 {
  position:absolute;
  left:2px;
  top:-7px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:164px;
  top:-10px;
  width:906px;
  height:169px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:164px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:164px;
}
#u175 {
  position:absolute;
  left:2px;
  top:74px;
  width:897px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:0px;
  top:154px;
  width:1061px;
  height:451px;
}
#u176_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1061px;
  height:451px;
}
#u177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 117, 186, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u177 {
  position:absolute;
  left:228px;
  top:104px;
  width:140px;
  height:40px;
}
#u178 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:94px;
  background:inherit;
  background-color:rgba(0, 117, 186, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'叶根友毛笔行书2.0版 Bold', '叶根友毛笔行书2.0版 常规', '叶根友毛笔行书2.0版';
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
  text-align:center;
}
#u179 {
  position:absolute;
  left:164px;
  top:0px;
  width:901px;
  height:94px;
  font-family:'叶根友毛笔行书2.0版 Bold', '叶根友毛笔行书2.0版 常规', '叶根友毛笔行书2.0版';
  font-weight:700;
  font-style:normal;
  font-size:50px;
  color:#FFFFFF;
  text-align:center;
}
#u180 {
  position:absolute;
  left:10px;
  top:10px;
  width:881px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u182 {
  position:absolute;
  left:170px;
  top:165px;
  width:150px;
  height:35px;
}
#u183 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:320px;
  top:165px;
  width:300px;
  height:35px;
}
#u184_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u185 {
  position:absolute;
  left:164px;
  top:220px;
  width:613px;
  height:35px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u187 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u188 {
  position:absolute;
  left:152px;
  top:0px;
  width:152px;
  height:30px;
}
#u189 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u190 {
  position:absolute;
  left:304px;
  top:0px;
  width:152px;
  height:30px;
}
#u191 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  word-wrap:break-word;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u192 {
  position:absolute;
  left:456px;
  top:0px;
  width:152px;
  height:30px;
}
#u193 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
